aiohttp
AppOpener
beautifulsoup4
bs4
cohere
eel
edge-tts
googlesearch-python
groq
keyboard
mtranslate
numpy
paho-mqtt
Pillow
pygame
pywhatkit
python-dotenv
pyaudio
requests
rich
scikit-learn
selenium
SpeechRecognition
webdriver-manager

